{% extends "documents/base.html" %}
{% block content %}
<table class="parties">
  <tr>
    <td style="width:50%"><div class="plabel">Buyer (pharmacy)</div>{{ buyer_name }}</td>
    <td style="width:50%"><div class="plabel">Seller (depot)</div>{{ seller_name }}</td>
  </tr>
</table>
<table>
  <tr><th>#</th><th>Product</th><th class="right">Qty</th><th class="right">Unit price</th><th class="right">Line total</th></tr>
  {% for l in lines %}
  <tr><td>{{ forloop.counter }}</td><td>{{ l.name }}</td><td class="right">{{ l.qty }}</td><td class="right">{{ l.price }}</td><td class="right">{{ l.total }}</td></tr>
  {% endfor %}
  <tr><td colspan="4" class="right"><b>Total (RWF)</b></td><td class="right"><b>{{ total }}</b></td></tr>
</table>
<p class="muted">This purchase order is a legal offer to buy the goods listed above.</p>
{% endblock %}
